
.carosello {
  background-color: $colorWhite;
  .top-carosello{
    width: 60%;
    text-align: $textCenter;
    margin: 20px auto;
  }
}
.slider-wrapper {
    position: relative;
    margin: auto;
    width: $height100;
    height: 80%;
    .images {
        height: $height100;
        text-align: $textCenter;
        img {
            display: none;
            height: $height100;
            width: 550px;
            height: 400px;
            padding: 30px;
        }
        img.active {
            display: inline-block;
        }
    }
}

.prev, .next {
    position: absolute;
    color: #565a5c;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    cursor: pointer;
    i{
      padding-left: 5px;
      height: 30px;
      width: 30px;
      font-size: 30px;
      background-color: $colorOrange;
      border-radius: 50%;
    }
}
.next {
    left: auto;
    right: 25%;
    i{
        padding-left: 8px;
    }
}
