header {
  height: 100px;
  background-color: $colorBlack;
  .center{
      height: $height100;
    ul{
      height: $height100;
      @include flex(center,flex-end);
      padding-bottom: 18px;
      list-style: none;
      li{
        a{
          text-decoration: none;
          color: $colorWhite;
          padding:20px  30px ;
          &:hover {
            background-color: #f1f1f1;
            color: black;
          }
        }
        img {
          height: 24px;
        }
      }
    }
  }
}
